@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');

*{
  padding: 0;
  margin: 0;
}

html, body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  overflow-x: hidden;
}

.buttons-language-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(118, 118, 118, 0.281);
  right: 2rem;
  position: absolute;
  width: 30%;
  height: 3rem;

}

.buttons_languages{
 height: auto;
  width: 3rem;
}

