@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');

*{
  padding: 0;
  margin: 0;
}

html, body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  overflow-x: hidden;
}

.buttons-language-container{
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  padding: 1rem;
  right: 2rem;
  position: absolute;
  z-index: 90;

}

button{
  padding: 0.6rem;
  background-color: rgb(255, 255, 255);
}